<div>
    <h3>
        Hello, {{name}} ...!
    </h3>
    <p>
        here is your password: {{password}}
    </p>
    <p>
        please to visit this page to change your password: http://localhost:3000/reset-password
    </p>
</div>